roundtimer {
    position: absolute;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;

    .text {
        font-family: Poppins;
        font-weight: 300;
        left: 25px;
        top: 10px;
        font-size: 32px;
    }
}